@media only screen and (max-width: 610px) {
  #github {
    display: none;
  }

  #robot{
    display: none;
  }

  .img-container{
    scale: 0.8;
    top: 40%;
    left: 40%;
  }
}

@media only screen and (max-width: 530px){
    #footer-git{
        margin-left: 10px;
    }
}

@media only screen and (max-width: 470px) { 
  #title {
    font-size: 32px;
  }

  .container{
    scale: 0.85;
  }

  .img-container{
    scale: 0.65;
    top: 35%;
    left: 28%;
  }

  #download{
    scale: 1.6;
    position: relative;
    top: 95px;
    left: 195px;
  }

  #footer-git{
        margin-left: 20px;
    }
}

@media only screen and (max-width: 440px){
    .img-container{
        left: 26.4%;
        top: 35%;
    }
}